---
title: Gallery
layout: base.njk
permalink: /gallery/
---
<section class="hero">
  <div class="container">
    <h1 class="hero__title">Gallery</h1>
    <p class="hero__lead">See what training and race day look like.</p>
  </div>
</section>

<section class="section">
  <div class="container">
    <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/{{ site.instagramHandle }}/" data-instgrm-version="14"></blockquote>
    <script async src="//www.instagram.com/embed.js"></script>
    <p><a href="https://instagram.com/{{ site.instagramHandle }}" target="_blank" rel="noopener">@{{ site.instagramHandle }} on Instagram &rarr;</a></p>
  </div>
</section>
